@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="tenantId" name="租户id" underline="true"/>
                            <#input id="productKey" name="产品PK" underline="true"/>
                            <#input id="dataFormat" name="数据格式" underline="true"/>
                            <#input id="netType" name="入网类型" underline="true"/>
                            <#input id="productSecret" name="产品密钥" underline="true"/>
                            <#input id="nodeType" name="节点类型" underline="true"/>
                            <#input id="domain" name="领域" underline="true"/>
                            <#input id="name" name="产品名称" underline="true"/>
                            <#input id="region" name="地域" underline="true"/>
                            <#input id="ownerDomain" name="所有者领域" underline="true"/>
                            <#input id="categoryld" name="归属品类id" underline="true"/>
                            <#input id="categoryKey" name="categoryKey"/>
                </div>

                <div class="col-sm-6">
                            <#input id="categoryName" name="categoryName" underline="true"/>
                            <#input id="accessMethod" name="访问方式" underline="true"/>
                            <#input id="status" name="产品状态(0:开发中,1:已发布)" underline="true"/>
                            <#input id="gmtCreate" name="创建时间" underline="true"/>
                            <#input id="gmtModified" name="修改时间" underline="true"/>
                            <#input id="creator" name="创建者" underline="true"/>
                            <#input id="modifier" name="修改者" underline="true"/>
                            <#input id="productId" name="产品ID" underline="true"/>
                            <#input id="aliyunCommodityCode" name="商品码" underline="true"/>
                            <#input id="connectMode" name="connectMode" underline="true"/>
                            <#input id="rbacTenantId" name="rbac租户Id" underline="true"/>
                            <#input id="iotPackage" name="IoT平台" underline="true"/>
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="ProductInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="ProductInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/product/product/product_info.js"></script>
@}
