<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.FaqMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.custom.model.Faq">
        <id column="id" property="id" />
        <result column="faqType" property="faqType" />
        <result column="faqTitle" property="faqTitle" />
        <result column="faqContent" property="faqContent" />
        <result column="createDate" property="createDate" />
        <result column="updateDate" property="updateDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, faqType, faqTitle, faqContent, createDate, updateDate
    </sql>

</mapper>
